parameters:
    level: 8
    phpVersion: 80400
    paths:
        - src
        - tests
        - modules
    excludePaths:
        - vendor
    bootstrapFiles:
        - install/inc/phpstan-globals.php
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false
